<h1>Register user</h1>

<wizard>
  <wizard-step stepTitle="Step 1" [canExit]='true'>
    <div class="tab-pane">
      <h4 class="head text-center">General user information</h4>
      <br />
      <div class='row'>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>

          <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input class="form-control input-md" #email="ngModel" required emailDomain id="email" name="email" type="text" placeholder="Email" [(ngModel)]="formData.email">

            <div class="alert alert-danger" *ngIf="email.errors && (email.dirty || email.touched)">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.pattern">{{ email.errors.pattern }}</div>
              <div *ngIf="email.errors.domain">{{ email.errors.domain }}</div>
            </div>

          </div>

          <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input class="form-control input-md" #password="ngModel" required passwordDomain id="password" name="password" type="password" [(ngModel)]="formData.password">
            <div class="alert alert-danger" *ngIf="password.errors && (password.dirty || password.touched)">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.pattern">{{ password.errors.pattern }}</div>
              <div *ngIf="password.errors.domain">{{ password.errors.domain }}</div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="confirmPassword">Confirm password</label>
            <input class="form-control input-md" #confirmPassword="ngModel" required pattern="{{ password.value }}" id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="formData.confirmPassword">

            <div class="alert alert-danger" *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
              <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
              <div *ngIf="confirmPassword.errors.pattern">Password & Confirm Password does not match</div>
            </div>

          </div>

          <div class="form-group">
            <input type="checkbox" #agree="ngModel" id="agree" name="agree" required [(ngModel)]="formData.agree">&nbsp;
            <label class="control-label" for="agree">Agree work for food</label>

            <div class="alert alert-danger" *ngIf="agree.errors">
              <div *ngIf="agree.errors.required">Agree work for food is required</div>
            </div>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-success btn-outline-rounded btn-info" type="button" [disabled]="!isValidStep1()"  nextStep> Go to Step 2 </button>
          </div>
        </div>
      </div>
    </div>
  </wizard-step>

  <wizard-step stepTitle="Step 2" awOptionalStep>
    <div class="tab-pane">
      <h4 class="head text-center">Location user information</h4>
      <br />
      <div class='row'>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>

          <div class="form-group">
            <label class="control-label" for="country">Country</label>
            <select class="form-control input-md" id="country" required name="country" [(ngModel)]="formData.country" [compareWith] = "compareCountry" (ngModelChange)="countryChange($event)">
              <option *ngFor="let value of countries" [ngValue]="value">{{value.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label class="control-label" for="province">Province</label>
            <select class="form-control input-md" id="province" required name="province" [(ngModel)]="formData.province" (ngModelChange)="provinceChange($event)">
              <option *ngFor="let value of provincies" [ngValue]="value">{{value}}</option>
            </select>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-success btn-outline-rounded btn-info" type="button" previousStep> Back to Step 1 </button>
            <button class="btn btn-success btn-outline-rounded btn-info" type="button" (click)="save()"> Save </button>
          </div>
        </div>
      </div>
    </div>

  </wizard-step>

</wizard>
